body{
    background-image: url(person.png); 
    margin: 0;
}

.div1{
    width: 293px;
    height: 513px;
    margin-left: 14px;
    margin-top: 8px;
    background-color: rgba(255, 255, 0, 40%);
    border: 1px solid #DBC50066;
    opacity: 80%;
    display: inline-block;
    margin-left: 11px;
}

.div2{
    width: 293px;
    height: 513px;
    margin-left: 14px;
    margin-top: 8px;
    background-color: rgba(255, 255, 0, 40%);
    border: 1px solid #DBC50066;
    opacity: 80%;
    display: inline-block;
    margin-left: 11px;
}

.div3{
    width: 293px;
    height: 513px;
    margin-left: 14px;
    margin-top: 8px;
    background-color: rgba(255, 255, 0, 70%);
    border: 1px solid #DBC50066;
    opacity: 80%;
    display: inline-block;
}

.div4{
    width: 293px;
    height: 513px;
    margin-left: 14px;
    margin-top: 8px;
    background-color: rgba(255, 255, 0, 35%);
    border: 1px solid #DBC50066;
    opacity: 80%;
    display: inline-block;
}
